body {
    font-family: Arial, sans-serif;
}

.task-section {
  width: 1200px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color:#ccc;
}

.task-header {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}




.task-content {
  display: flex;
  flex-wrap: wrap;
}
.task-content-write{
  display: flex;
  flex-direction: column;
}
.task-more-marerial{
  background-color:beige;
}
.write-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  /* padding-left:100px ; */
  /* padding-right: 200px; */
  padding: 15px 200px 15px 100px;
  /* Поле сверху 10px, справа 15px, снизу 20px, слева 25px */
}
.answer-select{
  width: 250px;
  height: 30px;
  background-color:blanchedalmond;
  border-radius:5px;
}

.hidden {
  display: none;
}

.image-container {
    display: flex;
    flex-direction:column;
    width: 270px;
    padding: 5px;
    margin: 10px;
  /* background-color: bisque; */

}

.answer-select {
    margin-top: 10px;
    /* padding: 5px; */
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

/* /////////////////стили для слайдера алфавита/////////////// */

.slider {
  position: relative;
  max-width: 70%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 70%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  vertical-align: middle;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}





/* ///////// */
/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
} */

.container {
  text-align: center;
}

.card {
  width: 1200px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
}

.word,
.translation,
.image {
  font-size: 24px;
  padding: 20px;
}



.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}